# File Sensitif (Jangan sampai ter-commit)
.env

# Dependencies Node.js
node_modules/
npm-debug.log*

# System & IDE files
.vscode/
.idea/
.DS_Store
Thumbs.db

assets/img/attendances/*
!assets/img/attendances/.gitkeep

assets/img/avatars/*
!assets/img/avatars/.gitkeep