# File Sensitif (Jangan sampai ter-commit)
.env

# Dependencies Node.js
node_modules/
npm-debug.log*

# System & IDE files
.vscode/
.idea/
.DS_Store
Thumbs.db

assets/img/attendances/*
assets/img/avatars/*

# ...KECUALI file .gitkeep agar kerangka foldernya tetap terbawa oleh Git
!assets/img/attendances/.gitkeep
!assets/img/avatars/.gitkeep